option_settings:
  - optionName: NPM_USE_PRODUCTION
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    optionName: /public
    value: /public

files:
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh":
    mode: "000666"
    owner: root
    group: users
    content: |
       #no need to run npm install during configdeploy

packages:
  yum:
    krb5-devel: []
