
header {
  height: 100vh;
  width: 100%;
  padding-top: 100px;

  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: $brand-primary;
  @include defaultShadow();

  h1 {
    color: #fff;
    margin: 0;
    padding: 120px 40px 0;
    font-size: 100px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    color: #fff;
    margin-top: 30px;
    font-size: 26px;
    font-weight: 300;
  }

  hr {
    margin: 30px auto;
  }

  .btn {
    padding: 10px 20px;
    font-size: 50px;
    margin-top: 30vh;
    font-weight: 200;
  }
}

@media(max-width:768px) {

  header {

    h1 {
      font-size: 60px;
      padding: 60px 20px 0;
    }

    p {
      margin-bottom: 20px;
      font-size: 22px;
    }

    .btn {
      padding: 10px 20px;
      font-size: 32px;
    }
  }
}


.grid-item.shadow-panel {
  margin-top: 40px;
  padding: 0;
  overflow: hidden;

  .grid-banner-box {
    height: 200px;
    overflow: hidden;
    position: relative;
    display: block;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

    &:hover, &:active, &:focus {
      outline: none;
      text-decoration: none;
    }

    img.grid-banner {
      width: auto;
      height: auto;
      position: absolute;
      z-index: 1;
      top: 0;
    }

    h3 {
      color: #fff;
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: 40px;
      z-index: 2;
      padding: 10px;
    }
  }

  .grid-description-box {
    padding: 20px 20px 10px;
  }

  .grid-link-box {
    padding: 0 0 10px 10px;

    a.logo-box {
      height: 50px;
      overflow: hidden;
      display: inline-block;
      span {
        line-height: 38px;
        vertical-align: top;
      }
    }

    img.grid-logo {
      width: 50px;
      height: auto;
      margin-right: 5px;
    }

  }

}
