/* styles for react-select */
.Select {

  .Select-control {
    border-width: 2px;
    border-color: #e7e7e7;
  }

  &.is-open .Select-control {
    border-color: $brand-info;
  }

  &.is-focused:not(.is-open) > .Select-control {
    border-color: $brand-info;
    @include box-shadow(none);
  }

}
