// $sidebar-bg: #084854 !default;
$sidebar-bg: #085449 !default;
$sidebar-highlight: #3B7090 !default;

.sidebar-toggle {
  position: fixed;
  left: 18px;
  top: 24px;
  font-size: 24px;
  z-index: 1;
  a { color: $brand-primary; }
}

.sidebar {
  width: 170px;
  height: 100%;
  font-size: 18px;
  background-color: $sidebar-bg;

  a:hover { text-decoration: none; }

  .profile {
    text-align: center;
    transition: all 0.2s;
    font-size: 14px;
    margin: 30px auto;

    a.profile-name {
      display: block;
      color: #fff;
      padding: 10px 15px;
      // &:hover {
      //   background-color: #5AC8FF;
      // }
    }
  }

  .sidebar-heading {
    color: #fff;
    padding: 15px;
    background: #4FB2F9;
    text-align: center;
    display: block;
    &:hover {
      background: #5AC8FF;
    }
  }

  .sidebar-subheading {
    padding: 15px;
    text-align: center;
    display: block;
    color: #eee;
  }

  .categories {
    ul.nav {
      padding-top: 10px;
    }
  }

  ul.nav li.complete a {
    color: #aaa;
    .glyphicon {
      font-size: 10px;
      margin-top: 9px;
    }
  }

  ul.nav {
    li {
      a {
        color: #fff;
        transition: all 0.2s;
        border-radius: 0;
      }
      &:hover, &.active, &:focus {
        a { background-color: $brand-primary; }
      }
      a:focus { background-color: $brand-primary; }
      &.disabled a {
        color: #ddd;
      }
    }
  }
}
