/* styles for fl-react-steps */
$step-font-size: 18px;
$complete-color: $brand-success;
$dot-color: $brand-info;
$text-active-color: #fff;
$dot-size: 20px;
$dot-size-xs: 20px;
$dot-active-size: 100px;
$dot-active-size-xs: 70px;
$step-height: 180px;
$step-height-xs: 130px;
